@flock-eco:registry=https://api.bintray.com/npm/flock-community/flock-npm/
/api.bintray.com/npm/flock-community/flock-npm:_auth=d2lsbXZlZWw6OGEzNTlmYmYxNzMxNWY5MmY4NzY3NjBlZDViZmZhZDhjMDUyYWYxNg==
/api.bintray.com/npm/flock-community/flock-npm:username=wilmveel
/api.bintray.com/npm/flock-community/flock-npm:email=willem.veelenturf@gmail.com
/api.bintray.com/npm/flock-community/flock-npm:always-auth=true